<?xml version="1.0" encoding="utf-8"?>
<PublishProfile xmlns="http://schemas.microsoft.com/2015/05/fabrikam">
  <Platform>x64</Platform>
  <RuntimeIdentifier>win-x64</RuntimeIdentifier>
  <PublishDir>bin\Release\net10.0-windows10.0.22000\win-x64\AppPackages\</PublishDir>
  <AppxPackageSigningEnabled>true</AppxPackageSigningEnabled>
  <AppxPackageSigningTimestampDigestAlgorithm>SHA256</AppxPackageSigningTimestampDigestAlgorithm>
  <GenerateAppInstallerFile>false</GenerateAppInstallerFile>
  <AppxBundle>Always</AppxBundle>
  <AppxBundlePlatforms>x64</AppxBundlePlatforms>
</PublishProfile>
